<section class="product-details">
    <div class="product-details-container">
        <img src="{{product.imageUrl}}" alt="{{product.name}}" class="product-details-image">
        <div class="product-details-info">
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p><strong>Precio:</strong> ${{this.price}}</p>
            <p><strong>Categoría:</strong> {{this.category}}</p>
            <p><strong>Stock disponible:</strong> {{this.stock}}</p>
            <a href="/" class="btn">Volver a la tienda</a>
        </div>
    </div>
</section>
